.mainContainer {

}
.bodyContainer {
    background-color: #dadde5;
    height: 1250px;
}
.nav {
    background-color: #4b778d;
    /* height: 65px; */
    position: relative;
    display: flex;
    /* align-content: center; */
    align-items: center;
    padding: 1%;
}
body{
    background-color: #dadde5;
}
#homeButton {
    vertical-align: middle;
    position: relative;
    background-color: #28b5b5;
    border-width: 0px;
    border-radius: 10%;
    width: max-content;
    height: max-content;
    margin-left: 10%;
    /* margin-top: 50vh; */
    /* margin: auto; */
}
#githubLink{

}
#loginBtn{
    
}